.kb-board {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
}
.kb-board .kb-scroll {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // overflow: auto;
  display: flex;
  flex-direction: column;
}


.kb-board{
  .kb-header, .kb-body{
    box-sizing: border-box;
    white-space: nowrap;
    float: left;
    min-width: 100%;
  }
  .kb-header,
  .kb-header-lasts-locked{
    padding: 0;
  }
  .kb-header-lasts-locked{

  }
  .kb-body{
    flex-grow: 1;
    display: block;
  }
}
